body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
    padding: 0;
}

.page-content {
    height: auto;
}

.page-footer {
    background: black;
    color: white;
    clear: both;
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: -10;
    text-align: start;
}

.footer-title {
    font-size: x-large;
    padding: 10px;
    padding-top: 50px;
}

.footer-middle {
    padding-left: 15%;
    margin-left: auto;
    margin-right: auto;
}

.portal-content {
    padding: 20px;
}

#lomake {
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 100px;
}

.otsikko {
    background-color: white;
    text-align: center;
    padding-bottom: 10px;
}

.helptext {
    font-size: larger;
    letter-spacing: 0.8px;
}

.form-content {
    padding: 0 20% 0 0;
}

.form-field {
    padding-top: 4px;
    padding-bottom: 2px;
}

.text-area {
    padding-bottom: 60px;
}

.url-list {
    padding-left: 10px;
}

.timeline {
    background-color: white;
}

.vertical-timeline::before {
    background: #d8d8d8;
}

.vertical-timeline-element-icon {
    box-shadow: 0 0 0 4px #cbcbcb, inset 0 2px 0 rgba(0, 0, 0, .08), 0 3px 0 4px rgba(0, 0, 0, .05);
}

.vertical-timeline-element-content {
    background: #d8d8d8;
}

.vertical-timeline-element-content::before {
    border-right: 7px solid #d8d8d8;
    border-left-color: transparent;
}

@media only screen and (min-width: 1170px) {
    .vertical-timeline--two-columns .vertical-timeline-element-content::before {
        border-left-color: #d8d8d8;
    }

    .vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content::before,
    .vertical-timeline--two-columns .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content::before {
        border-right-color: #d8d8d8;
    }
}

.search-content {
    padding-bottom: 100px;
}

.front-page {
    padding-bottom: 35%;
}