body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background: #ffe8f8;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-footer {
    background: black;
    color: white;
    clear: both;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 80px;
    z-index: -10;
}

.footer-title {
    font-size: x-large;
    padding: 10px;
}

.portal-content{
    padding: 20px;
}

#lomake {
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 10px;
}

.otsikko {
    background-color: white;
}

.with-margin{
    height: 150px;
}
